#home {
  section {
    padding: 3em 0;
  }

  #banner {
    height: 75vh;
    position: relative;
    background-color: lightcyan;
    padding: 0;

    .text-box {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      background: white;
      border: 4px transparent solid;
      padding: 27px;
      outline: white 10px solid;
      outline-offset: 10px;
    }
  }
  #couple {
    .ui.grid {
      position: relative;
    }
  }
  #countdown {
    background-color: lightcoral;
    *{
      color: whitesmoke!important;
    }
  }
  #dress-code {
    background-color: lightseagreen;
    *{
      color: whitesmoke!important;
    }
  }
  #location {
    background-color: dodgerblue;
    *{
      color: whitesmoke!important;
    }
  }
}